// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
    height: 100%;
}

.slider-wrap {
    height: 400px;
}

.slider-img {
    overflow: hidden;
}

.social {
    font-size: 40px;
}

.lot-in-all-lots, .products-in-account, .lots-in-account, .bids-in-account,
.won-lots-in-account, .products-in-admin, .lots-in-admin {
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}