// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
    height: 100%;
}

.slider-wrap {
    height: 400px;
}

.slider-img {
    overflow: hidden;
}

.social {
    font-size: 40px;
}
